/* General */
.text {
  font-family: Calibri, sans-serif;
  color: white;
}

.blockText {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* prevent every type of horizontal scroll  */
/* overflow-x: hidden; will stop element from scrolling.*/
html {
  overflow-x: hidden;
  width: 100%;
  background-color: rgba(232,230,230,255); /* BG COLOR */
}
body {
  overflow-x: hidden;
  width: 100%
}

/**/
.blockURL:hover,
.blockURL {
  color: rgb(217, 217, 217)
}

/* Page Layout */
.contentWrapper {
  display: flex;
  flex-direction: row;
}
.contentWrapperSmall {
  display: flex;
  flex-direction: column;
}

.contentColumn {
  display: flex;
  height: 100%;
  flex: 1;
}

/* Fonts */
@font-face {
  font-family: "Coinage Caps Eric Gill W01";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Coinage Caps Eric Gill W01"), url("../../../public/fonts/Coinage_Caps_Eric_Gill_W01_Rg.woff") format("woff"); /*TODO add another option: url("/fonts/Coinage_Caps_Eric_Gill_W01_Rg.woff2") format("woff2") https://www.onlinewebfonts.com/download/543c2d773210d2f5ff029678aa698ac7*/
}

@font-face {
  font-family: "DM Sans";
  font-weight: 400;
  font-style:normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("DM Sans"), url("../../../public/fonts/DM_Sans/DMSans-Regular.ttf") format("truetype"); /*TODO add another option: url("/fonts/Coinage_Caps_Eric_Gill_W01_Rg.woff2") format("woff2") https://www.onlinewebfonts.com/download/543c2d773210d2f5ff029678aa698ac7*/
}

/* TEXT */
.sectionTitle {
  font-family: Coinage Caps Eric Gill W01;
  font-size: 135%;
  /* font-weight: bold; */
  color: black;
  letter-spacing: 2px;
}
.sectionContent {
  font-family: "DM Sans";
  font-size: 102%;
  color: black;
  letter-spacing: 2.5px;
}